.table-title{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.table-header-container{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vh;
}

.dialog-btns{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vh;
}

.upload-btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.files-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vh;
    max-height: 70vh;
    max-width: 100%;
}

/*
Modal styling starts here
*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  
  .modal-card {
    width: 700px;
    max-height: 90vh;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    position: relative;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .labels-container{
    display:flex;
  }

  .modal-btns-container{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
  }

  .hidden {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  .file-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
    height: 2.75rem;
  }

  .file-detail-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
  }

  .ellipsis-cell-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 0.5rem;
  }


  .open-btn-cell{
    width: 2%;
  }

  .custom-toast {
    background-color: #818589 !important; 
    color: white !important; /* White font color */
  }

